.about.title {
background: url(images/home/about-us.png) top left no-repeat;
 @include hide-text;
 width: 402px;
 height: 68px;
} 



.student-showcase {
	img {
		display: block;
		margin: 0 auto;
	}

	.btn {
		position: relative;
		bottom:78px;
		left: 250px;
	}
}

section.advisory-board  {
	@include clearfix;
	background: url(images/home/advisory-board.png) top left no-repeat;
	width: 100%;
	background-size: 100%;
}



section.work-experience  {
	.title {
		 @include hide-text;
		 @include easy-image("home/work-experience-heading.png");
	}
}

section.icons {
	@include clearfix;
	background: url(images/home/blur-bg.jpg) top left no-repeat;
	width: 100%;
	background-size: cover;
	padding: 80px 0;
}


section.academy-tv {

	.title {
		 @include hide-text;
		 @include easy-image("home/academy-tv.png");
	}
	
}

// $icons-spacing: 100px;
// $icons-sprite-dimensions: true;

// @import "icons/*.png";
// @include all-icons-sprites;
